---
import SectionLayout from "../../layouts/SectionLayout.astro";
import Header from "../../components/ui/Header.astro";
import ToolCard from "../../components/cards/ToolCard.astro";
import { tools } from "../../lib/data.ts";
---

<SectionLayout title="tools">
  <Header
    title="tools"
    description="Technologies and tools I use to build projects."
  />
  <div class="grid w-full grid-cols-2 gap-4 lg:grid-cols-3 xl:grid-cols-4">
    {
      tools
        .filter((tool) => tool.enabled)
        .map((tool) => <ToolCard icon={tool.icon} name={tool.name} />)
    }
  </div>
</SectionLayout>
